p{
    font-family: $primary-font!important;
    line-height: 24px;
}

.button{
    font-family: $secondary-font;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    background: #4D43F5;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: 700
}

.wrapper{
    padding: 0px 100px 0px 100px;
}