.favorites-container{
    margin-top: 50px;
    .favorites-content{
        .grid{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 30px;
            row-gap: 50px;
        }
    }
}